body {
    margin: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flipbook-container {
    perspective: 1000px;
    width: 80%;
    height: 60%;
    position: relative;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
    transform-origin: right;
}

.page img, .page video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
